@import 'swiper/swiper-bundle.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h3 {
  margin: 0;
}

main {
  padding: 2rem;
}

.home {
  text-align: center;
}

.productList {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  background-color: #888;
}
.swiper-pagination-bullet-active {
  background-color: #000;
}



